
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Demo Event Loop</h2>

<div class="bs-callout bs-callout-default">
    <div class="row">
        <div class="col-md-6">
            <h4>Chamada não desabilitando o botão</h4>
            <p>Clique no botão abaixo múltiplas vezes.</p>
            <button id="block" type="button" class="btn btn-primary">Botão</button>
            <label id="label-block"></label>
        </div>
        <div class="col-md-6">
            <p id="resultado-block"></p>
        </div>
    </div>
</div>

<div class="bs-callout bs-callout-default">
    <div class="row">
        <div class="col-md-6">
            <h4>Chamada desabilitando o botão</h4>
            <p>Clique no botão abaixo múltiplas vezes.</p>
            <button id="nonblock" type="button" class="btn btn-primary">Botão</button>
            <label id="label-nonblock"></label>
        </div>
        <div class="col-md-6">
            <p id="resultado-nonblock"></p>
        </div>
    </div>
</div>

<div class="bs-callout bs-callout-default">
    <h4>Limpar dados</h4>
    <button id="limpar" type="button" class="btn btn-primary">Limpar</button>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/javascript_tips")

